#calc {
    max-width: 500px;
    max-height: 400px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr) 100px;
}

#readout {
    width: calc(100% - 12px);
    height: calc(100% - 10px);
    font-family: 'Lucidia Console', 'Consolas', 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: right;
    border: 2px solid black;
    border-radius: 5px;
    grid-column: 1 / 4;
}

.calcButton {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: bold;
    background-color: forestgreen;
    color: white;
    border-width: 0;
    border-radius: 5px;
}